<html>
	<head>
		<!--we can use assets/style.css because we have to middleware sitting there-->
		<!--cool thing is if you have this template engine, a designer can always comes in and change this file-->
		<!--that is called front-end and back-end seperation-->
		<link href="assets/style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<h1>Hello world!</h1>
	</body>
</html>